{% extends 'base.html' %}
{% block content %}
<div class="login mx-40 my-10">
    <h1 class="text-3xl mb-6">Register</h1>
    
    <div class="login mx-40 my-10 bg-gray-100 p-6 rounded-lg text-center">
        <form method="POST">
            {% csrf_token %}
            <table class="mb-6 mx-auto">
                {{ form.as_table }}
                <tr>
                    <td></td>
                    <td><input type="submit" name="submit" value="Daftar" class="bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"></td>
                </tr>
            </table>
        </form>
    </div>
    
    

    {% if messages %}
    <ul>
        {% for message in messages %}
        <li class="text-red-500">{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>





{% endblock content %}