{% extends 'base.html' %}
{% block content %}

<div class="container mx-auto mt-10">
    <div class="mb-6">
        <h1 class="text-3xl font-bold text-center mb-4">Chart List</h1>
            <div class="text-center my-5">
                <a href="{% url 'dashboard' %}" class="bg-gray-700 hover:bg-gray-800 text-white px-4 py-2 rounded ">Back</a>
            </div>
            <div class="overflow-x-auto relative shadow-md sm:rounded-lg mx-40 my-10">
            <table class="w-full text-left text-gray-500 dark:text-gray-400">
                <thead class="text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr class="text-gray-200">
                        <th class="py-4 px-6">Type</th>
                        <th class="py-4 px-6">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for chart in chart_types %}
                    <tr class="text-gray-700">
                        <td class="border py-4 px-6">{{ chart.tipe }}</td>
                        <td class="border py-4 px-6 text-center"><a href="{% url 'chart_detail' chart_type=chart.chart_type %}" class="text-blue-700">[View Song List]</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content %}
