{% extends 'base.html' %}
{% block content %}

<div class="login mx-40 my-10">
    <h1 class="text-3xl mb-6 text-center font-bold">Song Details</h1>
    <div class="login mx-40 my-10 bg-gray-100 p-6 rounded-lg text-center">
        {% if song %}
            <div class="mb-6 mx-auto">
                <p><strong>Judul:</strong> {{ song.title }}</p>
                <p><strong>Genre(s):</strong> {{ song.genres|join:", " }}</p>
                <p><strong>Artist:</strong> {{ song.artist }}</p>
                <p><strong>Songwriter(s):</strong> {{ song.songwriters|join:", " }}</p>
                <p><strong>Durasi:</strong> {{ song.duration }}</p>
                <p><strong>Tanggal Rilis:</strong> {{ song.release_date }}</p>
                <p><strong>Tahun:</strong> {{ song.year }}</p>
                <p><strong>Total Play:</strong> {{ song.total_plays }}</p>
                <p><strong>Total Downloads:</strong> {{ song.total_downloads }}</p>
                <p><strong>Album:</strong> {{ song.album }}</p>
            </div>
        {% endif %}

        <div class="flex items-center w-full">
            <label for="progress" class="font-bold mr-2 flex-shrink-0">Progress:</label>
            <input type="range" id="progress" name="progress" min="0" max="100" class="slider w-full mx-1 auto">
            <span id="progressValue" class="text-sm ml-2 flex-shrink-0">50%</span>
        </div>

        <div class="flex space-x-4 justify-center mt-4">
            <button type="button" onclick="handlePlay('{{ song.id_konten }}')" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded w-40 focus:outline-none focus:shadow-outline">Play</button>
            <button onclick="window.location.href='/song/tambah-lagu/{{ song.id_konten }}/'" class="bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded w-40 focus:outline-none focus:shadow-outline">Add to Playlist</button>
            {% if user.is_premium %}
            <button id="downloadButton" onclick="submitDownload('{{ song.id_konten }}')" class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded w-40 focus:outline-none focus:shadow-outline">Download</button>
            {% endif %}
            <button onclick="window.history.back()" class="bg-black-500 hover:bg-gray-900 border border-gray-900 text-black font-bold hover:text-white py-2 px-4 rounded w-40 focus:outline-none focus:shadow-outline">Back</button>
        </div>
    </div>
</div>

<div id="downloadModal" class="hidden fixed inset-0 bg-gray-200 bg-opacity-75 flex items-center justify-center p-4">
    <div class="bg-white rounded-lg p-6">
        <p id="modalMessage" class="text-center text-lg"></p>
        <div class="text-center mt-4">
            <button id="redirectButton" onclick="window.location.href='/'" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:bg-black mr-4 text-center">To Download List</button>
            <button id="thebackButton" onclick="hideDownloadModal();" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:bg-black mr-4 text-center">Back</button>
        </div>
    </div>
</div>

<script>
document.getElementById('progress').oninput = function() {
    document.getElementById('progressValue').textContent = this.value + '%';
};

function submitDownload(songId) {
    fetch(`/song/download/${songId}/`, {
        method: 'POST',
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded'
        }
    }).then(response => response.json()).then(data => {
        if (data.success) {
            if (data.already_downloaded) {
                document.getElementById('redirectButton').textContent = "To Playlist";
                showDownloadModal(`The song '${data.song_title}' has already been downloaded!`, data.id_user_playlist);
            } else {
                document.getElementById('redirectButton').textContent = "To Download List";
                showDownloadModal(`Successfully downloaded the song '${data.song_title}'!`, "");
            }
        } else {
            showDownloadModal('An error occurred. Please try again.');
        }
    }).catch(error => {
        showDownloadModal('An error occurred. Please try again.');
        console.error('Error:', error);
    });
}

function handlePlay(songId) {
    const progress = document.getElementById('progress').value;
    if (progress > 70) {
        fetch(`/song/play/${songId}/`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams({ progress })
        }).then(response => response.json()).then(data => {
            if (data.success) {
                console.log('Play recorded');
                window.location.reload();
            } else {
                console.log(data.message);
            }
        }).catch(error => {
            console.error('Error:', error);
        });
    } else {
        console.log('Progress less than 70%, play not recorded');
    }
}

function showDownloadModal(message, id_user_playlist) {
    document.getElementById('modalMessage').textContent = message;
    document.getElementById('redirectButton').onclick = function() {
        if (id_user_playlist === "") {
            window.location.href = "/";
        } else {
            window.location.href = "/playlist/playlist-details/" + id_user_playlist + "/";
        }
    };
    document.getElementById('downloadModal').classList.remove('hidden');
}

function hideDownloadModal() {
    document.getElementById('downloadModal').classList.add('hidden');
}
</script>

{% endblock content %}
