{% extends 'base.html' %}
{% block content %}

<div class="login mx-40 my-10">
    <h1 class="text-3xl mb-6 text-center font-bold">Song Details</h1>
    <div class="login mx-40 my-10 bg-gray-100 p-6 rounded-lg text-center">
        {% if song %}
            <div class="mb-6 mx-auto">
                <p><strong>Judul:</strong> {{ song.title }}</p>
                <p><strong>Genre(s):</strong> {{ song.genres|join:", " }}</p>
                <p><strong>Artist:</strong> {{ song.artist }}</p>
                <p><strong>Songwriter(s):</strong> {{ song.songwriters|join:", " }}</p>
                <p><strong>Durasi:</strong> {{ song.duration }}</p>
                <p><strong>Tanggal Rilis:</strong> {{ song.release_date }}</p>
                <p><strong>Tahun:</strong> {{ song.year }}</p>
                <p><strong>Total Play:</strong> {{ song.total_plays }}</p>
                <p><strong>Total Downloads:</strong> {{ song.total_downloads }}</p>
                <p><strong>Album:</strong> {{ song.album }}</p>
            </div>
        {% endif %}

        <!-- <form method="POST"> -->
            <!-- {% csrf_token %} -->
        <div class="flex items-center w-full">
            <label for="progress" class="font-bold mr-2 flex-shrink-0">Progress:</label>
            <input type="range" id="progress" name="progress" min="0" max="100" class="slider w-full mx-1 auto">
            <span id="progressValue" class="text-sm ml-2 flex-shrink-0">50%</span>
        </div>

        <div class="flex space-x-4 justify-center mt-4">
            <button type="button" onclick="window.location.href='#'" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Play</button>
            <button onclick="window.location.href='/song/tambah-lagu/'" class="bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Add to Playlist</button>
            {% if user.is_premium %}
            <button onclick="showDownloadModal()" class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Download</button>
            {% endif %}
            <button class="bg-black-500 hover:bg-gray-900 border border-gray-900 text-black font-bold hover:text-white py-2 px-4 rounded focus:outline-none focus:shadow-outline">Back</button>
        </div>
        <!-- </form> -->
    </div>
</div>

<div id="downloadModal" class="hidden fixed inset-0 bg-gray-200 bg-opacity-75 flex items-center justify-center p-4">
    <div class="bg-white rounded-lg p-6">
        <p class="text-center text-lg">Successfully downloaded a song titled 'Right Here'!</p>
        <div class="text-center mt-4">
            <button onclick="hideDownloadModal(); window.location.href='/song/details/'" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:bg-black mr-4 text-center">To Download List</button>
            <button onclick="hideDownloadModal(); window.location.href='/song/details/'" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded transition duration-300 ease-in-out transform hover:-translate-y-1 hover:bg-black mr-4 text-center">Back</button>
        </div>
    </div>
</div>

<script>
document.getElementById('progress').oninput = function() {
    document.getElementById('progressValue').textContent = this.value + '%';
};

function showDownloadModal() {
    document.getElementById('downloadModal').classList.remove('hidden');
}

function hideDownloadModal() {
    document.getElementById('downloadModal').classList.add('hidden');
}
</script>

{% endblock content %}
