{% extends 'base.html' %}
{% block content %}

<div class="login mx-40 my-10">
    <h1 class="text-3xl mb-6 text-center font-bold">User Playlist Details</h1>

    {% if messages %}
    <div id="successModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center">
        <div class="bg-white p-4 rounded-lg text-center shadow-xl">
            {% for message in messages %}
            <p class="text-gray-600 font-bold">{{ message }}</p>
            {% endfor %}
        </div>
    </div>

    <script>
    setTimeout(function() {
        document.getElementById('successModal').style.display = 'none';
    }, 3000);
    </script>
    {% endif %}

    {% if playlist %}
    <div class="login mx-40 my-10 bg-gray-100 p-6 rounded-lg text-center">
        <div class="mb-6 mx-auto">
            <div class="mb-4 bg">
                <p><strong>Title:</strong> {{ playlist.judul }}</p>
                <p><strong>Creator:</strong> {{ user.nama }}</p>
                <p><strong>Number of Songs:</strong> {{ playlist.jumlah_lagu }}</p>
                <p><strong>Total Duration:</strong> {{ playlist.total_durasi }}</p>
                <p><strong>Creation Date:</strong> {{ playlist.tanggal_dibuat }}</p>
                <p><strong>Description:</strong> {{ playlist.deskripsi }}</p>
            </div>
            
            <div class="flex justify-between mb-4">
                <button class="bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Shuffle Play</button>
                <button class="bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                 onclick="window.location.href='/playlist/'">Back</button>
            </div>

            <table class="w-full text-sm text-left">
                <thead class="text-xs text-gray-700 uppercase bg-black">
                    <tr class="text-white">
                        <th scope="col" class="py-3 px-6">Title</th>
                        <th scope="col" class="py-3 px-6">By</th>
                        <th scope="col" class="py-3 px-6">Duration</th>
                        <th scope="col" class="py-3 px-6">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for song in playlist.songs %}
                    <tr class="bg-white border-b">
                        <td class="py-4 px-6">{{ song.judul }}</td>
                        <td class="py-4 px-6">{{ song.nama }}</td>
                        <td class="py-4 px-6">{{ song.durasi }}</td>
                        <td class="py-4 px-6">
                            <button onclick="window.location.href='/song/details/{{ song.id }}/'" class="bg-gray-400 hover:bg-gray-900 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline">See More</button>
                            <button onclick="window.location.href='#'" class="bg-gray-700 hover:bg-gray-900 text-white font-bold py-1 px-3 rounded focus:outline-none focus:shadow-outline">Play</button>
                            <form action="{% url 'delete_song' playlist.id_user_playlist song.id %}" method="post" onsubmit="return confirmDeletion()" style="display: inline;">
                                {% csrf_token %}
                                <button type="submit" class="bg-black-500 hover:bg-gray-900 border border-gray-900 text-black font-bold hover:text-white py-1 px-3 rounded focus:outline-none focus:shadow-outline">Delete</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <div class="text-center mt-6">
                <button onclick="window.location.href='/playlist/playlist-details/{{ id_user_playlist }}/tambah-lagu/'"
                 class="bg-gray-500 hover:bg-gray-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">+ Add Song
                </button>
            </div>
        </div>
    </div>
    {% else %}
    <p class="text-center">You haven't make a Playlist</p>
    {% endif %}
</div>

<script>
    function confirmDeletion(id) {
        return confirm('Are you sure you want to delete this song from playlist?');
    }
</script>
{% endblock content %}
