{% extends 'base.html' %}
{% block content %}

<div class="login mx-40 my-10">
    <h1 class="text-3xl mb-6 text-center font-bold">Add Song</h1>
    <div class="login mx-40 my-10 bg-gray-100 p-6 rounded-lg text-center">
        <form method="POST" action="/playlist/playlist-details/">
            {% csrf_token %}
            <div class="mb-6 mx-auto relative">
                <label class="block mb-2 font-bold text-left">Song</label>
                <button onclick="toggleDropdown()" type="button" class="border border-gray-400 rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500 text-left" aria-haspopup="true" aria-expanded="false">
                    Choose Song
                </button>
                <div x-show="open" class="absolute mt-2 w-full rounded-md bg-white shadow-lg" style="display: none;">
                    <div class="py-1" role="none" style="max-height: 200px; overflow-y: auto;">
                        {% for song in all_songs %}
                        <label class="flex items-center px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 hover:text-gray-900">
                            <input type="checkbox" name="songs[]" value="{{ song.id }}" class="form-checkbox h-4 w-4 text-gray-800 focus:ring-gray-800 border-gray-300 rounded">
                            <span class="ml-3">{{ song.judul }} - {{ song.nama }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>
            </div>
            
            <input type="submit" name="submit" value="SUBMIT" class="bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-6 w-full">
        </form>
    </div>
</div>

<script>
function toggleDropdown() {
    var dropdown = document.querySelector('[x-show="open"]');
    dropdown.style.display = dropdown.style.display === 'block' ? 'none' : 'block';
}
</script>

{% endblock content %}