{% extends 'base.html' %}
{% block content %}

<div class="login mx-40 my-10">
    <h1 class="text-3xl mb-6 text-center font-bold">Create Playlist</h1>
    <div class="login mx-40 my-10 bg-gray-100 p-6 rounded-lg text-center">
        <form action="/playlist/tambah-playlist/" method="POST">
            {% csrf_token %}
            <div class="mb-6 mx-auto">
                <label for="judul" class="block mb-2 font-bold text-left">Title:</label>
                <input type="text" id="judul" name="judul" placeholder="Masukkan judul playlist" 
                class="border border-gray-400 rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500 text-sm" required>

                <label for="deskripsi" class="block mt-4 mb-2 font-bold text-left">Description:</label>
                <textarea id="deskripsi" name="deskripsi" placeholder="Masukkan deskripsi playlist" 
                class="border border-gray-400 rounded w-full py-2 px-3 focus:outline-none focus:border-blue-500 text-sm" rows="2" required></textarea>
            </div>

            <input type="submit" name="submit" value="Submit" class="bg-black text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline mt-6 w-full hover:bg-gray-800">
        </form>
    </div>
</div>

{% if messages %}
<div id="successModal" class="fixed inset-0 bg-gray-800 bg-opacity-50 flex justify-center items-center">
    <div class="bg-white p-4 rounded-lg text-center shadow-xl">
        {% for message in messages %}
        <p class="text-green-600 font-bold">{{ message }}</p>
        {% endfor %}
        <button onclick="closeModal()" class="mt-4 bg-gray-500 hover:bg-gray-700 text-white font-bold py-1 px-3 rounded">Okay</button>
    </div>
</div>

<script>
function closeModal() {
    document.getElementById('successModal').style.display = 'none';
}
setTimeout(closeModal, 3000); // Close the modal after 3 seconds
</script>
{% endif %}

{% endblock content %}
